
.hidden {
    visibility: hidden;
    display: block;
    height: 0px;
    display: none;
}

.block {
    display: block;
}

.header1L {
    font-size: 56px;
    font-weight: 600;
}

.header1 {
    font-size: 42px;
    font-weight: 600;
}

.header2 {
    font-size: 32px;
    font-weight: 600;
}

.header3 {
    font-size: 20px;
    font-weight: 400;
}

.page {
    display: block;
    position: relative;
    top: 60px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.pageContainer {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    overflow: auto;
}

.centerBlock {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

.textInput {
    outline: none !important;
    display: block;
    width: 300px;
    height: 20px;
    padding: 10px 15px;
    font-size: 1em;
    border-radius: 18px;
    margin: 0;
}

.textInput2 {
    outline: none !important;
    display: inline-block;
    width: 100px;
    height: 18px;
    padding: 6px 9px;
    font-size: 1em;
    border-radius: 18px;
    margin-left: 15px;
    margin-right: 15px;
}

.button {
    display: block;
    width: fit-content;
    padding: 12px 23px 12px 23px;
    border: 2px solid #1e2124;
    border-radius: 20px;
    background-color: #1e2124;
    font-size: 18px;
    font-weight: 400;
    transition: 0.5s;
    color: #DADADA;
}

.button:hover {
    cursor: pointer;
    border: 2px solid #dadada;
    transition: 0.5s;
}

.switchLabel {
    position: relative;
    display: inline-block;
    width: 170px;
    height: 35px;
}

.switchCheckbox {
    display: none;
    width: 0;
    height: 0;
    opacity: 0;
}

.switchSlider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #1e2124;
    border: 3px solid #1e2124;
    /*border: 3px solid #fafafa;*/
    border-radius: 20px;
    transition: 0.5s;
}

.switchSlider:hover {
    /*box-shadow: 1px 1px 10px #aaaaaa inset;*/
    border: 3px solid #fafafa;
    background-color: #555555;
    transition: 0.5s;
}

.switchCheckbox:checked + .switchSlider {
    /*background-color: rgb(57, 117, 207);*/
    background-color: #0075ff;
    border: 3px solid #1e2124;
}

.switchCheckbox:checked + .switchSlider:hover {
    border: 3px solid #fafafa;
}

.switchSlider::before {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0.5px;
    background-color: #fafafa;
    font-size: 0.95em;
    color: #444444;
    border-radius: 20px;
    width: 130px;
    text-align: center;
    line-height: 1.7;
    transition: 0.5s;
}

.switchSliderContent1::before {
    content: "Graphic EQ";
}
.switchSliderContent2::before {
    content: "Parametric EQ";
}
.switchSliderContent3::before {
    content: "Convolution EQ";
}
.switchSliderContent4::before {
    content: "Fixed Band EQ";
}

.switchCheckbox:checked + .switchSlider::before {
    transform: translateX(34px);
    transition: 0.5s;
}

.popupPanel {
    display: block;
    background-color: #1e2124;
    border-radius: 15px;
    padding: 20px 20px 20px 20px;
    width: fit-content;
}


.text1 {
    font-size: 18px;
    font-weight: 400;
    line-height: 2.0;
}

.text1sp {
    font-size: 18px;
    font-weight: 400;
    line-height: 2.0;
    letter-spacing: 1px;
}

.text2 {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
}

.blueText {
    color: rgb(64, 179, 233);
}

.link {
    color: inherit;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}

.ulist {
    list-style-type: none;
    font-size: 18px;
    height: 300px;
    overflow-y: auto;
}

.ulistItem {
    max-width: fit-content;
    padding: 10px;
    border-left: 4px solid #dadada00;
    border-top: 2px solid #dadada00;
    border-bottom: 2px solid #dadada00;
    transition: 0.5s;
}

.ulistItem:hover {
    cursor: pointer;
    padding-left: 14px;
    border-left: 4px solid #dadada;
    transition: 0.5s;
}

.ulistItemSelected {
    padding-left: 14px;
    border-left: 4px solid #dadada;
}

.dropdown {
    width: 100%;
    padding: 5px;
    border-radius: 10px;
    border: 2px solid #2F364000;
}

.dropdownItem {
    
}

.imgGraph3x4 {
    display: block;
    width: 400px;
    height: 300px;
    image-rendering: smooth;
    border-radius: 10px;
    box-shadow: 1px 2px 10px #000000;
}

.imgGraph2x3 {
    display: block;
    width: 600px;
    height: 400px;
    image-rendering: smooth;
    border-radius: 10px;
    box-shadow: 1px 2px 10px #000000;
}

.navigate {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    height: 90px;
}

.floatLeft {
    display: block;
    float: left;
    left: 0px;
}

.floatRight {
    display: block;
    float: right;
    right: 00px;
}

.addHMargin {
    display: block;
    margin-left: 30px;
    margin-right: 30px;
}

.addVMargin {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}

.addVMargin2 {
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
}

.noTextDecoration {
    text-decoration: none;
}